.container{
    margin: auto;
    /* width: 1000px; */
}
p{
    font-size: 1.25em;
}
nav{
    margin-top: 20px;
}
header{
    overflow: hidden;
}
section{
    margin: auto;
    /* margin-top: 30px; */
    margin-bottom: 20px;
}
form{
    padding-top: 1em;
}

article{
    /* width: 200px; */
    /* padding-right: 20px; */
}
footer{
    padding-top: 25px;
}
